<html>
<head>
  <script src="bower_components/vue/dist/vue.js"></script>
  <script src="bower_components/two.js/build/two.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

<div v-on:mousedown="mousedown" v-on:mouseup="mouseup" v-on:mousemove="mousemove" id="app">
  <pre>{{$data | json}}</pre>
</div>

</body>
<script src="js/app.js"></script>
</html>
